@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;1,400&family=PT+Serif:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-size-sm: theme(fontSize.sm);
  --font-size-base: theme(fontSize.base);
  --font-size-lg: theme(fontSize.lg);
  --font-size-xl: theme(fontSize.xl);
  --font-size-2xl: theme(fontSize.2xl);
  --font-weight-medium: theme(fontWeight.medium);
  --font-weight-semibold: theme(fontWeight.semibold);
  --color-primary: theme(colors.primary);
  --color-white: theme(colors.white);
  --color-gray-100: theme(colors.gray.100);
  --color-gray-400: theme(colors.gray.400);
  --color-gray-900: theme(colors.gray.900);
  --color-red-100: theme(colors.red.100);
  --color-red-500: theme(colors.red.500);
  --color-red-600: theme(colors.red.600);
  --color-red-700: theme(colors.red.700);
  --spacing-1-5: theme(spacing[1.5]);
  --spacing-2: theme(spacing.2);
  --spacing-3: theme(spacing.3);
  --spacing-4: theme(spacing.4);
  --spacing-5: theme(spacing.5);
  --border-radius-default: theme(borderRadius.DEFAULT);
  --border-radius-lg: theme(borderRadius.lg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--color-gray-900);
}

a {
  color: var(--color-red-600);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}

input[type='email'],
input[type='text'],
input[type='password'] {
  padding: calc(var(--spacing-1-5) - 1px) calc(var(--spacing-2) - 1px); /* Compensate for border width */
  border: 1px solid var(--color-gray-400);
  border-radius: var(--border-radius-default);
}

/* Button component */

:root {
  /* Padding for large screens */
  --screen-px: var(--spacing-5);
  --screen-py: var(--spacing-2);
  /* Padding for small screens */
  --screen-sm-px: var(--spacing-4);
  --screen-sm-py: var(--spacing-2);
}
.app-button {
  padding: var(--screen-sm-py) var(--screen-sm-px);
  border: none;
  border-radius: var(--border-radius-lg);
  background-color: var(--color-red-600);
  color: var(--color-white);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
}
@media screen(sm) {
  .app-button {
    padding: var(--screen-py) var(--screen-px);
  }
}

/* States */
.app-button:hover,
.app-button:focus,
.app-button:active {
  background-color: var(--color-red-700);
}

/* Secondary variant */
.app-button.app-button-secondary {
  padding: calc(var(--screen-sm-py) - 2px) calc(var(--screen-sm-px) - 2px); /* Compensate for border width */
  background-color: var(--color-white);
  color: var(--color-red-600);
  border: 2px solid var(--color-red-600);
}
@media screen(sm) {
  .app-button.app-button-secondary {
    padding: calc(var(--screen-py) - 2px) calc(var(--screen-px) - 2px); /* Compensate for border width */
  }
}
.app-button.app-button-secondary:hover,
.app-button.app-button-secondary:focus,
.app-button.app-button-secondary:active {
  background-color: var(--color-red-100);
}

/* Override styles for specific elements */
a.app-button {
  display: inline-block;
}
a.app-button,
a.app-button:hover,
a.app-button:focus,
a.app-button:active {
  text-decoration: none;
}
input.app-button {
  cursor: pointer;
}
