<footer class="px-10 pt-10 pb-4 bg-gray-800 text-gray-100">
  <div class="container mx-auto px-4">
    <nav class="nav-links flex items-start gap-x-20 text-sm">
      <div class="flex items-center -mt-2 text-lg font-medium">
        <img
          class="w-7 h-7"
          src="../../assets/dbs-logo-mark.svg"
          alt="DBS Bank logo"
        />
        <span class="ml-3 pl-3 py-1 border-l border-gray-500">{{ siteName }}</span>
      </div>
      <ul>
        <li><a href="#">Help & FAQ</a></li>
        <li><a href="#">Security & You</a></li>
      </ul>
      <ul>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </nav>
    <div class="mt-10 text-sm text-gray-300">©2023 DBS Bank Ltd</div>
  </div>
</footer>
